# dependencies
/node_modules

# production
/dist
/logs

# misc
.DS_Store
*.iml
.npmrc
coverage
*.yaml

# Private keys and sensitive information
*.keypair.json
*-keypair.json
converted-keypair.json

*.env
.env.local
.env.development
.env.production